.article{
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
    color: black;
}

.article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);;
}

.text{
    padding: 0 20px 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.text h3 {
    text-transform: uppercase;
    padding: 20px;
    font-size: 22px;
    border-bottom: 1px solid ;
    color: brown;
}

.btnContainer{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btnContainer span {
    padding: 0 10px;
    font-size: 22px;
}
