.grid {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
    position: relative;
  }
  
  .gridContainer {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .grid > .article {
      text-align: center;
    }
  }
.btn {
    margin-top: 15px;
}
